<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Quickform - Help</title>
<link rel="stylesheet" type="text/css" href="../quickform/css/backend.css" media="all" />		
</head>
<body class="qf_help">
<div class="qf_help_content">
<h1 class="qf_header">QUICKFORM HELP</h1>

<h2 class="qf_header">Required Fields</h2>
<p>If you don't want required fields you have to remove:</p>
<ul class="qf_help_list">
	<li> The span star from the label</li>
<pre>
&lt;span&gt;E-Mail&lt;span&gt;*&lt;/span&gt; &lt;/span&gt;			
</pre>
	<li>The '_r' chars from the input name </li>
<pre>
&lt;input name="qf_r_email" value="{{ EMAIL }}" /&gt;		
</pre>
	<li>The 'required' from the input</li>
<pre>
&lt;input required class="
</pre>
</ul>	
<h2 class="qf_header">Send form also to customer</h2>
<p>If you want that the form submit is also sent to you customer you only have to add a hidden field with following content to your form:</p>
<ul class="qf_help_list">
	<li>
<pre>
&lt;input type="hidden" name="cc_mail" value="add" /&gt;		
</pre>
	</li>
</ul>	
<h2 class="qf_header">Captcha</h2>
<ul class="qf_help_list">
	<li> See if captcha is enabled in the admintools/captcha & advanced spam protection</li>
	<li> add following code to your template (for example) before submit button and you are done.</li>
<pre>
&lt;div class="{{ CAPTCHA_CLASS }} full"&gt;
	&lt;label for="captcha"&gt;&lt;span&gt;avoid spam&lt;/span&gt;
		&lt;div class="grouping {{ CAPTCHA_ERROR }}"&gt;
			{{ CAPTCHA }}
		&lt;/div&gt;
	&lt;/label&gt;
&lt;/div&gt;			
</pre>
	<li>if you want to add Google Recaptcha spam protection please read the <a href="https://doc.lepton-cms.org/docu/english/home/tutorials/how-to-use-google-recaptcha.php" target="_blank">documentation</a>. </li>

</ul>
<h2 class="qf_header">Notice</h2>
	<p>If you have any questions referring to this addon please visit  <a href="https://forum.lepton-cms.org" target="_blank">the addons forum </a>.</p>
	
</div>
</body>
</html>