/**
 *  @template       App
 *  @version        see info.php of this template
 *  @author         cms-lab
 *	@copyright      2018-2019 cms-lab
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 */
 
/** css for html files */

h1, h2, h3, h4 {
    font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color:#333;
	font-weight: 700;
	line-height: 150%;
	color:#333;
}
h1 {
  	font-size:26px;
}
h2 {
  	font-size:22px;
}
h3 {
  	font-size:18px;
}
h4 {
  	font-size:14px;
}


a:link, a:visited, a:active {
	color: #099;
	text-decoration: underline;
}

a:hover {
	color: #666;
	text-decoration: none;
}



#content {
	max-width:700px;
	margin:0 auto;
}
#content li {
    padding: 0 0 7px 0;
	margin-left: 15px;
}




.ui.message .header {
    font-weight: 400 !important;
}
.abtext {
    margin-top: 0px !important;
	padding-top: 0px !important;
}


