/**
 *  @template       App
 *  @version        see info.php of this template
 *  @author         cms-lab
 *	@copyright      2018-2019 cms-lab
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 */
 
/** template css */

h1, h2, h3, h4 {
    font-family:Courier,Arial,Helvetica,sans-serif;
	color:#333;
	font-weight: bold;
	line-height: 150%;
}
h1 {
  	font-size:26px;
}
h2 {
  	font-size:22px;
}
h3 {
  	font-size:18px;
}
h4 {
  	font-size:14px;
}


a:link, a:visited, a:active {
	color: #099;
	text-decoration: underline;
}

a:hover {
	color: #666;
	text-decoration: none;
}

#content {
	max-width:700px;
	margin:0 auto;
}

.page {
    width: 90%;
}

.sz_pdf {
    border: 1px solid #333;
    padding: 16px;
    margin-bottom: 20px;
}

.header {
	font-size:18px;
	margin:0;
	font-weight: bold;
	text-align:center;
}


.signature {
    border: 0px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 75%;
    margin-top: 20px;
}

p.summary {
    margin: 0;
    line-height: 30px;
	padding-left: 10px;
}

