/**
*  @template       App
*  @version        see info.php of this template
*  @author         cms-lab & Internet-Service Berlin
*  @copyright      2018-2021 cms-lab & Internet-Service Berlin
*  @license        GNU General Public License
*  @license terms  see info.php of this module
*  @platform       see info.php of this module
*/
body {font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;color:#333;font-size: 20px;}
a, input, img, button {-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;}
h1 {font-size:36px;line-height:46px;text-transform:uppercase;letter-spacing:1px;margin:0 !important;}
h2 {font-size:24px;line-height:32px;}
h3 {font-size:18px;line-height:18px;}
h4 {font-size:14px;line-height:14px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header {width:100%;background:#339E9E;padding:30px 0;position:relative;}
#app_header {width:1200px;margin:0 auto;color:#fff;}
#navi_top {position:absolute;top:20px;right:20px;}
#navi_top li {list-style: none;}
#navi_top li a:link, #navi_top li a:visited {display:block;background:#9F3232;width:140px;text-align:center;color: #fff;padding:8px 15px;margin:0 0 12px 0;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#navi_top li a:focus, #navi_top li a:hover, #navi_top li a:active {background:#555;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#content {max-width:1200px;margin:30px auto;display:flex;}
#main {flex:1 1 auto;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SEMANTIC OVERRIDE ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.ui.form .warning.message, .ui.form .info.message {display:flex !important;}
.ui.segment {margin:0 !important;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LEFT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navi_left {flex:0 0 280px;width:280px;background:#eee;padding:20px;margin-right:30px;box-sizing:border-box;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
#navi_left ul {list-style:none;margin:0;padding:0;}
#navi_left ul ul {padding:0 0 20px 20px;}
#navi_left ul ul ul {padding:0 0 0 20px;}
#navi_left ul li {text-transform:uppercase;}
#navi_left ul ul li {text-transform:none;}
#navi_left ul ul ul li {font-size:16px;}
#navi_left a:link, #navi_left a:visited {text-decoration:none;color:#333;}
#navi_left a:focus, #navi_left a:hover, #navi_left a:active {color:#9F3232;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#footer {width:100%;background:#555;padding:30px 0;color:#fff;position:-webkit-sticky;position:sticky;top: 100%;}
#footercontent {width:1200px;margin:0 auto;display:flex;justify-content:space-between;font-size:16px;line-height:20px;}
.footerbox {flex:1 1 20%;padding:0 30px 30px 0;}
.footerbox:nth-of-type(2) {flex:1 1 40%;}
.footerbox:last-of-type {padding:0 0 30px 0;}
