/**
 *  @template       Semantic
 *  @version        see info.php of this template
 *  @author         cms-lab
 *  @copyright      2014-2019 CMS-LAB
 *  @license        http://creativecommons.org/licenses/by/3.0/
 *  @license terms  see info.php of this template
 *  @platform       see info.php of this template
 */
 
.positive  input, .negative input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: 0 none !important;
	color: #fff !important;
}

#frontend_template {
	margin-top: 20px;
}

.space {
	width:100%;
	height:30px;
}

.captcha_table {
    font-weight: normal;
}

.captcha_input {
    margin-left: 10px !important;
    margin-right: 10px !important;
    max-width: 60px;
}

