/**
 * This file is part of an ADDON for use with LEPTON Core.
 * This ADDON is released under the GNU GPL.
 * Additional license terms can be seen in the info.php of this module.
 *
 * @module          lib_search
 * @author          LEPTON Project
 * @copyright       2010-2021 LEPTON Project
 * @link            https://lepton-cms.org
 * @license         http://www.gnu.org/licenses/gpl.html
 * @license_terms   please see info.php of this module
 *
 */

#search_results {
  font-size: 9pt;
  margin: 20px 0 30px 0;
  padding: 0;
  font-family: Gill, Helvetica, sans-serif;
}
#search_results h2 {
  font-size: 14pt;
}
.search_form {
  margin: 0 0 25px 0;
  padding: 0;
}
.search_item {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 11pt;
  clear: both;
}
.search_item_header {
  font-size: 13pt;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.search_item_description {
  font-size: 8pt;
  font-style: italic;
  padding: 0 0 10px 0;
  margin: 0;
}
.search_item_excerpt {
  font-size: 9pt;
}
.search_image_thumbs {
  margin: 10px 0 0 0;
  padding: 0;
  clear: both;
  font-size: 9pt;
}
.search_image_thumbs_title {
  font-size: 9pt;
  font-weight: bold;
  font-style: italic;
  padding: 0 0 10px 0;
}
.content_image,
.search_image_thumbs_image {
  width: 100px;
  height: auto;
  padding: 0;
  margin: 0 20px 10px 0;
  float: left;
}
.search_image_thumbs_loop {
  clear: both;
  margin: 0 0 15px 0;
}

.search_box_input_active,
.search_box_input {
  width: 150px;
  background-image: url('../images/search.gif');
  background-repeat:no-repeat;
  padding-left:20px;
  color: #b3b3b3;
  background-color: transparent;
} 
/* change the color at input */
.search_box_input_active {
  color: #000;
  background-color: transparent;
}