/**
*  @module         wysiwyg Admin
*  @version        see info.php of this module
*  @authors        Dietrich Roland Pehlke
*  @copyright      2010-2020 Dietrich Roland Pehlke
*  @license        GNU General Public License
*  @license terms  see info.php of this module
*  @platform       see info.php of this module
*  @requirements   PHP 5.2.x and higher
*/

table.wysiwyg_admin input[type='text'] {display: block;border: 1px solid #999999;}

table.wysiwyg_admin select,table.wysiwyg_admin input {width: 150px;}

table.wysiwyg_admin td.legend {color: #990000;}

table.wysiwyg_admin td {vertical-align:middle;width:15%;}
table.wysiwyg_admin td:nth-child(3){width:70%;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 900px) {
table.wysiwyg_admin td {width:100%;}
table.wysiwyg_admin select,table.wysiwyg_admin input {width: 100% !important;}
}