/**
*  @module         news
*  @version        see info.php of this module
*  @author         Ryan Djurovich, Rob Smith, Dietrich Roland Pehlke, Christian M. Stefan (Stefek), Jurgen Nijhuis (Argos), LEPTON Project
*  @copyright      2004-2010 Ryan Djurovich, Rob Smith, Dietrich Roland Pehlke, Christian M. Stefan (Stefek), Jurgen Nijhuis (Argos)
* 	@copyright      2010-2020 LEPTON Project
*  @license        GNU General Public License
*  @license terms  see info.php of this module
*  @platform       see info.php of this module
*
*/

img.image_preview  {width: auto; height: auto;max-width: 150px; max-height: 150px;-ms-interpolation-mode: bicubic;}
.setting_name  { width: 20%; vertical-align: top !important }
.setting_value {vertical-align: top;width: 80%;}
/*
style for the edit CSS button
Required CSS class name: input.mod_moduledirectory_edit_css
*/
input.mod_news_edit_css {padding: 2px;border: 1px solid #aaa;border-radius: 4px;background-color: #ddd;background-image: none;cursor: pointer;border: 1px solid #999;border-radius: 5px;position: relative;top: -39px;width: 110px;float: right;}

.news_prev_link,.news_of,.news_next_link {display: block;float: left;width: 30%;height: 20px;}
.news_of {width: 80px;}
.newsitem_table tr:nth-child(even), .newsgroup_table tr:nth-child(even) {background-color:#fff;}
.newsitem_table tr:nth-child(odd), .newsgroup_table tr:nth-child(odd){background-color:#ccc;}
.newsitem_table td,.newsgroup_table td {padding:5px;}
table.history_table thead tr:nth-child(odd) {background:#fff;}
table.history_table tr:nth-child(4n+1), table.history_table tr:nth-child(4n+2) {background:#eee;}
table.history_table td {padding:10px;}
button[type="submit"].history_button {width:33%;line-height:20px;padding: 8px 20px;margin:0;background:#888;cursor: pointer;border:none;color:#fff;}
button[type="submit"].history_button:nth-of-type(2) {width:31%;margin:0 1%;}
button[type="submit"].history_button_delete {width:33%;line-height:20px;padding: 8px 40px;margin:0;background:#cf0000;cursor: pointer;border:none;color:#fff;}
button[type="submit"].history_button:hover, button[type="submit"].history_button_delete:hover {background:#aaa;}
