/**
 * This file is part of LEPTON Core, released under the GNU GPL
 * Please see LICENSE and COPYING files in your package for details, specially for terms and warranties.
 * 
 * NOTICE:LEPTON CMS Package has several different licenses.
 * Please see the individual license in the header of each single file or info.php of modules and templates.
 *
 * @author          LEPTON Project
 * @copyright       2010-2021 LEPTON Project
 * @link            https://lepton-cms.org
 * @license         https://www.gnu.org/licenses/gpl-3.0.html
 * @license_terms   please see LICENSE and COPYING files in your package
 *
 */
 
#frontend_login_template {
	margin-top: 20px;
}

#frontend_signup_template {
	margin-top: 20px;
}


#system_message {
	margin-top: 20px;
}

table#forgot_form  {
text-align:left;
}

table#forgot_form .left {
    height: 30px;
    text-align: left;
    width: 60px;
}

table#forgot_form .middle {
    height: 30px;
    margin-right: 10px;
    width: 170px;
}

table#forgot_form .right {
    height: 30px;
    width: 170px;  
}

#forgot_form input[type="submit"] {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #333333;
    color: #FFFFFF;
    height: 22px;
    width: 190px;
	vertical-align: text-bottom;
	margin-left: 10px;
}

legend {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	padding-bottom:6px;
	font-weight: bold;
	color:#999999;
}
fieldset.account_form {
	padding: 13px;
	display:block;
	width: 380px;
	margin-bottom: 10px;
	border: 1px solid #999999;
}
div.account_label, div.account_value {
	display: block;
	float: left;
	line-height: 20px !important;
	margin-bottom: 0px;
	height: 30px;
}
div.account_label {
	width: 200px;
	font-size: 12px;
	color: #333333;
	padding-left: 5px;
}
div.account_value {
	width: 250px;
	overflow:hidden;
}
div.account_value input, div.account_value select {
	width: 220px;
}
div.account_value select {
	 width:226px;
}
div.result_message {
	color: #990000;
	font-size: 12px;
	font-weight: bold;
}