/**
*
* @module          initial_page
* @author          LEPTON project
* @copyright       2010-2020 LEPTON Project
* @link            https://lepton-cms.org
* @license         copyright, all rights reserved
* @license_terms   please see info.php of this module
*
*/

tbody.initial_page tr {background:#fff;}

tbody.initial_page td {width:33%;padding:5px;box-sizing:border-box;}
tbody.initial_page td:nth-child(1) {padding: 5px;width:100%;font-weight: 300;}

tbody.initial_page input[type='text'] {border: 1px solid #999999;padding-left: 5px;width:100%;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 900px) {
thead {display:none;}
tbody.initial_page tr {margin:0 0 5px 0;}
tbody.initial_page td:nth-child(1):before {content:'Benutzer: ';font-weight:bold;}
tbody.initial_page td:nth-child(2):before {content:'Seite: ';}
tbody.initial_page td:nth-child(3):before {content:'Optionale Parameter: ';}
tbody.initial_page td, tbody.initial_page td:nth-child(1) {padding: 10px;}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 580px) {
tbody.initial_page td {width:100%;}
}