/**
 *  @template       Talgos  Backend-Theme
*  @version        see info.php of this template
*  @author         LEPTON project,various others, ISB (last)
*  @copyright      2010-2022  LEPTON project,various others
*  @license        GNU General Public License
*  @license terms  see info.php of this template
*  css login and login_forgot only  
*/
@font-face {font-family: 'LatoWebBold';src: url('../fonts/Lato-Bold.woff2') format('woff2'),url('../fonts/Lato-Bold.woff') format('woff');font-style: normal;font-weight: normal;}
@font-face {font-family: 'LatoWeb';src: url('../fonts/Lato-Regular.woff2') format('woff2'),url('../fonts/Lato-Regular.woff') format('woff');font-style: normal;font-weight: normal;}
@font-face {font-family: 'LatoWebItalic';src: url('../fonts/Lato-Italic.woff2') format('woff2'),url('../fonts/Lato-Italic.woff') format('woff');font-style: italic;font-weight: normal;}
* {padding: 0;margin: 0;}
body {background: #333;color: #999;font-family: 'LatoWeb', sans-serif;font-size:15px;line-height:20px;color: #333;background:#eee;}
a, input, img, button {-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;}
.clear {clear: both;}
a:link, a:visited, a:active {text-decoration: none;color: #609015;}
a:focus, a:hover {color: #E67817;}
.login_form {margin:100px auto;max-width:720px;background: #ddd;padding:40px;}
h2 {text-align: center;margin-bottom: 30px;color: #666;font-size: 30px;line-height:40px;}
h3 {font-size: 20px;color: #666;margin-bottom: 10px;}
.talgos {padding-left: 100px;padding-right: 100px;margin-top: 20px;}
.field {margin-bottom: 40px;}
label {font-size: 18px;color: #666;}
.login_input {width: 100%;margin-top: 10px;padding: 10px;color: #333;font-size: 16px;box-sizing:border-box;}
.submit {padding: 10px;min-width: 200px;background: #85c226;border-radius: 5px;border: none;color: #fff;font-size: 18px;cursor: pointer;}
.submit:hover{background-color: #E67817;}
#details_link {margin-top: 30px;font-size: 18px;}
.spacer{width:100%;height:12px;}
.footer_login {margin: 0 auto;max-width: 642px;margin-top: -100px;background: transparent;padding: 20px;}
.left_footer_login {margin-left:70px;margin-bottom:10px;}
.pin {padding: 20px;font-size: 26px;}
.message {font-size: 16px;padding: 30px;border-radius: 5px;margin-bottom: 20px;color: #eee;text-align: center;}
.positive {background: #85c226;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 900px) {
.login_form {margin:0 0 10px 0;max-width:100%;padding:40px 4%;box-sizing:border-box;}
.talgos {padding:0;}
.footer_login {margin:0;max-width:100%;padding:30px 4%;box-sizing:border-box;text-align:center;}
.left_footer_login {margin:0 0 10px 0;}
.submit {padding:10px;min-width:100%;box-sizing:border-box;}
}