/**
 *
 *	@module			quickform
 *	@version		see info.php of this module
 *	@authors		LEPTON project, Ruud Eisinga
 *	@copyright		2012-2021  LEPTON project (initial by Ruud Eisinga)
 *  @license        GNU General Public License
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 *
 *
 */


table#email {
	width: auto!important;
	border: none!important;
}
table.msgtable {
	width: 100%;
	border: none!important;
}
table.msgtable tr.odd {
	background: Silver;
}
table.msgtable td
,table.msgtable th {
	padding-left: 5px;
	padding-right: 5px;
}
table.msgtable th {
	height: 30px;
	text-align: left;
	vertical-align: middle;
	font-weight: 600;
	font-size: 1.1em;
	background-color: darkgrey;
}
table.msgtable th.msgcol-id {
	text-align: right;
	width: 50px;
}
table.msgtable th.msgcol-icon  {
	font-weight: 400;
	font-size: 1em;
	width: 140px;
}
table.msgtable td.msgcol-id {
	vertical-align: top;
	text-align: right;
}
table.msgtable td.msgcol-icon {
	vertical-align: top;
}


.module_icon {
	max-width: 250px;
}


.sidemenu {
	position: fixed;
	background-color: #333;
	opacity: 0.85;
	filter: alpha(opacity=85); /* For IE8 and earlier */
	clear: both;
	width: 20rem;
	height: 100%;
	top: 0;
	right: 0;
	padding-top: 8rem;
	padding-left: 1.5rem;
	padding-bottom: 2rem;
	z-index: 200;

	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transition: transform 0.8s ease-in-out;
}
.sidemenu ul a,
.sidemenu ul li a, 
.sidemenu ul li a:visited, 
.sidemenu ul li a:active, 
.sidemenu ul li a:focus, 
.sidemenu ul li a:hover {
	text-decoration: none;
	color: silver;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-weight: 500;
	font-size: 1rem;
}
.sidemenu ul li a:hover{
	color: white;
}
.sidemenu ul li a.menu-current {
	font-weight: 600;
	color: yellow;
}
.sidemenu.responsive {
	transform: translateX(0);
	-webkit-transform: translateX(0);
}

.blinking{
	animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
	  0%{	color: #000; }
	 49%{	color: transparent; }
	 50%{	color: transparent; }
	 99%{	color: transparent; }
	100%{	color: #000; }
}
.ui.form .info.message {
    display: block;
}
