/**
 * This file is part of an ADDON for use with LEPTON Core.
 * This ADDON is released under the BSD License.
 * Additional license terms can be seen in the info.php of this module.
 *
 * @module          jsadmin 
 * @author          WebsiteBaker Project
 * @author          LEPTON Project
 * @copyright       2004-2010, Ryan Djurovich,WebsiteBaker Project
 * @copyright       2010-2021 LEPTON Project
 * @link            https://lepton-cms.org
 * @license         BSD License
 * @license_terms   please see info.php of this module
 *
 */


/* Fix for funky spacing on page listing */
.pages_list li {
	margin-bottom: -2px;
}

body.jsadmin_busy td.content {
	background: url(images/busy.gif) 4px 4px no-repeat;
}

body.jsadmin_success td.content {
	background: url(images/success.gif) 4px 4px no-repeat;
}

body.jsadmin_failure td.content {
	background: url(images/failure.gif) 4px 4px no-repeat;
}

.jsadmin_drag {
	cursor: move;
}

.jsadmin_drag a, .jsadmin_drag input, .jsadmin_drag select {
	cursor: pointer;
}

ul.jsadmin_drag_area {
	border: solid 1px #99f;
}

/* match LEPSem Theme */
.ui.container {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
} 

form {
    border: 1px solid #ccc;
    border-radius: 10px;
    line-height: 40px;
    padding: 20px;
}

input[type="submit"], button[type="submit"], input.submit, button.submit {
    background: #1fb843 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 24px 0;
    padding: 10px;
}

a:link, a:visited, a:active {
    color: #666;
    text-decoration: none;
}

a:hover {
	color:#000;
    text-decoration: underline;	
	}