/**
 * @module          App-Admin
 * @author          erpe
 * @copyright       2020-2021 erpe
 * @link            https://os-app.org
 * @license         Custom License
 * @license_terms   see license
 *
 */

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}

.spacer2{
	width:100%;
	height:20px;
}

.spacer3{
	width:100%;
	height:30px;
}

a.be_link {
	color: #2185d0 !important;
}

a:hover.be_link  {
	color: orange !important;
}

ul.file_list {
    margin-top: 10px;
    margin-left: 50px;
	list-style: decimal;
}

ul.file_list li a {
	line-height: 26px;
	color:#333;
}

ul.file_list a:hover {
	color:teal;
}

p.small, ul.small {
	font-size: 15px !important;
	margin-left: 12px !important;
}

.space {
    margin-left: 40% !important;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}