/**
 * @module          App-Admin
 * @author          erpe
 * @copyright       2020-2021 erpe
 * @link            https://os-app.org
 * @license         Custom License
 * @license_terms   see license
 *
 */

.ui.text.container {

    max-width: 900px !important;
}
 
span.required {
	color: red;
	font-size: 12px;
	vertical-align: sub;
}

input:required {

}

.spacer1{
	width:100%;
	height:10px;
}

.spacer2{
	width:100%;
	height:20px;
}

.spacer3{
	width:100%;
	height:30px;
}

.spacer4{
	width:100%;
	height:40px;
}

.basic_menu {
    border: none;
    cursor: pointer;
}

img.home_link {
	max-width: 50px;
	vertical-align: middle;
}

.ui.basic.button.blank  {
	border: 0px !important;
	box-shadow: none !important;
	margin: 0px !important;
	padding: 0px !important;	
}
