/**
 *
 * @module          initial_page
 * @author          LEPTON project 
 * @copyright       2010-2020 LEPTON Project 
 * @link            https://lepton-cms.org
 * @license         copyright, all rights reserved
 * @license_terms   please see info.php of this module
 *
 */
 

table.initial_page td.left,
table.initial_page td.right {
	display: block;
	float: left;
	width: 90px;
	padding-right: 5px;
	margin-bottom: 5px;
}
table.initial_page td.right {
	width: 330px;
	text-align: left;
}
table.initial_page td.right input {
	float: left;
	width: 200px;
}

td.param input[type='text'] {
	border: 1px solid #999999;
	padding-left: 5px;
	width: 200px;
}

td.head {
	font-weight: bold;
}

.init_page_select {
	width: 320px;
}