/**
*  @module         code2
*  @version        see info.php of this module
*  @authors        Ryan Djurovich, Chio Maisriml, Thomas Hornik, Dietrich Roland Pehlke
*  @copyright      2010-2020 Ryan Djurovich, Chio Maisriml, Thomas Hornik, Dietrich Roland Pehlke
*  @license        GNU General Public License
*  @license terms  see info.php of this module
*  @platform       see info.php of this module
*
*/

.info_not {color: #999999;}

/* PHP Code */
.content_0 {width:100%;background-color: #E8F1F9;}
.content_1 {width:100%;background-color: #E8F9E8;}
.content_2 {width:100%;background-color: #F9E8EF;}
.content_3 {width:100%;background-color: #FFFFD2;}
.content_4 {width:100%;background-color: #FFCC33;}
/* height of the textareas */
.code2_smart {height: 60px !important;}
.code2_full {height: 400px !important;}
.code2_smart, .code2_full {font-family: monospace !important;font-size: 12px !important;line-height: 1.5em !important;}
.code2_admin {margin: 20px 0 10px 0;padding: 10px;background-color: #FFCC33;border: 1px double #FF9900;}
.code2_admin h1 {text-align:left ! important;}
select[name='whatis'],select[name='mode'] {width: 200px;}
textarea#no_wysiwyg {margin-bottom:10px;border:1px solid #ccc;}