/**
 * This file is part of an ADDON for use with LEPTON Core.
 * This ADDON is released under the GNU GPL.
 * Additional license terms can be seen in the info.php of this module.
 *
 * @module          menu-link
 * @author          WebsiteBaker Project, LEPTON Project
 * @copyright       2004-2010 WebsiteBaker Project
 * @copyright       2010-2021 LEPTON Project 
 * @link            https://lepton-cms.org
 * @license         http://www.gnu.org/licenses/gpl.html
 * @license_terms   please see info.php of this module
 *
 */
 
.hide {display: none;}
input[type="submit"].lepsem_submit {color:#fff;font-size: 15px;line-height:20px !important;display: inline-block;padding:8px 40px;background-color:#6da327 !important;text-align:center;width:167px !important;box-sizing:border-box;}
input[type="submit"].lepsem_submit:hover{background: #aaa !important;color:#fff !important;}
input[type="button"].reset {width:167px !important;line-height:20px !important;padding: 8px 40px;margin:0 4px 0 0;background:#cf0000 !important;cursor: pointer;border:none;color:#fff;}
input[type="button"].reset:hover{background: #aaa !important;color:#fff !important;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media only screen and (max-width: 580px) {/* reset pin */
input[type="submit"].lepsem_submit,
input[type="button"].reset {width:100% !important;}
}
